.CoursesList{
    width: 100%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}


.CourseCategorie{
    width: 100%;
    height: auto;
    border-bottom :solid 2px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list{
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    min-height: 90vh;
}

.listfilter{
    width: 70%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
   
}

.search{
    background-color: rgb(255, 255, 255);
    width: 30%;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.Searchinput{
    height: 30px;
    border: solid 2px rgb(104, 104, 104);
    width: 100%;
    font-weight: 600;
    color: black;
    font-size: 14px;
    border-radius: 5px;
}

.Searchinput{
    outline: none;
}

.filtertitile{
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.options{
    font-weight: 700;
    color: black;
    font-size: 14px;
    height: 30px;
    border: solid 2px rgb(84, 84, 84);
    width: 200px;
    border-radius: 5px;
}

.langage{
    width: 100px;
}

