.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    width: 30%;
    height: auto;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .close:hover {
    color: red;
  }

/*Modal body*/
.body{
  height: 200px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.enseignant{
  height: 300px;
}

.modalbody{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.textinput{
  margin-top: 10px;
  height: 30px;
  border: solid 1px rgb(138, 138, 138);
  border-radius: 5px;
}
.textinput:focus{
  outline: none;
  border: solid 2px rgb(96, 133, 255);
}


.modalfooter{
  display: flex;
  align-items:center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
}