.Couses{
    margin-top:5px;
    width:23%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgb(195, 195, 195);
    border-radius: 2px;
}

.Courseimg{
    width: 100%;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.coverimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.Coursedescription{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 200px;
    justify-content: space-around;
}

.Title{
    color: rgb(255, 106, 0);
    font-weight: 700;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    margin-left: 0px;
    height: auto;
}

.CourseAuthor{
    color: rgb(24, 24, 24);
    font-weight: 600;
    font-size: 15px;
    margin-left: 2px;
}

.note{
    margin-left: 2px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 15px;
}

.price{
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
    color: rgb(112, 96, 255);
    font-weight: 700;
    font-size: 15px;

}


.CoursesFooter{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.FooterButton{
    width: 95%;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    border: solid 1px rgb(0, 0, 0);
}

.FooterButton{
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tocard{
    color: rgb(255, 255, 255);
    background-color: rgba(23, 23, 23, 0.822);
    font-size: 14px;
    margin-top: 2px;
    border: solid 1px rgb(0, 0, 0);
    
}

.details{
    color: rgb(0, 122, 192);
    background-color: rgba(255, 255, 255, 0.822);
    font-size: 14px;
    color: rgb(246, 246, 246);
}

.details:hover{
    color: rgb(255, 255, 255);
   /* background-color: rgb(255, 205, 125);*/
}

.tocard:hover{
    color: rgb(255, 255, 255);
    /*background-color: rgb(146, 166, 255);*/
}

