/*topbar*/
.topbar{
    width: 100%;
    height: 90vh;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px rgb(122, 122, 122);
}
/*top*/
.top{
    height: 10vh;
    background-color: rgb(111, 0, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99;
}


.udefree{
    cursor: pointer;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.toplinks{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlink{
    cursor: pointer;
    color: white;
    font-size:20px;
    font-weight: bold;
}
.navlink:hover{
    text-decoration: overline;

}

/*middle*/
.middle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;
}


.middleleft{
    color: white;
    font-size: 24px;
    font-weight: bold;
   /* background-color: rgb(255, 255, 255);*/
    width: 45%;
}

.middlerigth{
    width:45%;
}

.desc{
    color: rgb(255, 255, 255);
    background-color: rgb(111, 0, 255);
    padding: 10px;
    border-bottom-right-radius: 180px;
}

.images{
   height: 100%;
   width: 100%;
   object-fit: cover;
   cursor: pointer;
}

.cat{
    height: 50px;
    overflow: hidden;
}

.divitems{
    color: rgb(67, 46, 255);
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}
@keyframes move {
    
    25%{
        transform : translateY(-50px);
    }
    50%{
        transform : translateY(-100px);
    }
    75%{
        transform : translateY(-150px);
    }
    100%{
        transform : translateY(-200px);
    }
}

.started{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textstarted{
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background-color: rgb(59, 62, 255);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:200px;
    margin-left: 10px;
}





