.Userpage{
    width: 100%;
    display: flex;

}


.sidebar{
    flex: 0.8;
    background-color: rgb(59, 59, 59);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dash{
    color: white;
}

.menuitem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

.submenu{
    color: white;
    border: solid 1px black;
    background-color: rgb(83, 83, 83);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
}

.Rightdiv{
    flex: 4;
    height: 100vh;
    overflow-y: scroll;
}


@media all and (max-width: 650px){
    .menuitem{
        height: 40px;
        display: flex;
        flex-direction: row;
    }
    .submenu{
        height:30px;
        width: 30%;
        font-size: 3.5vw;
    }
    .sidebar{
        position: sticky;
        top: 0;
    }
}